*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
img{
    position: relative;
    right: 50%;
    top: 10%;
    border-radius: 25px;
    filter: drop-shadow(0 0 20px #4b89dc)drop-shadow(0 0 50px #4b89dc);
}
h1{
    font-weight: bolder;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    font-size: 3em;
    top: 8%;
    left: 55%;
}
h1::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #4b89dc;
    animation: animate1 8s linear infinite;
    filter: drop-shadow(0 0 20px #4b89dc)drop-shadow(0 0 50px #4b89dc);
}
@keyframes animate1{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    left: 10%;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent ,#4b89dc , #4b89dc);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent ,#4b89dc , #4b89dc);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    background: #28292d;
    inset: 2px;
    border-radius: 8px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.form h2{
    color: #4b89dc;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputbox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #4b89dc;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.7em;
}
.inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #4b89dc;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
    height: 44px;
}
.links{
    display: flex;
    justify-content: space-between;
}
.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
    color: #4b89dc;
}
input[type="submit"]{
    border: none;
    outline: none;
    background: #4b89dc;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    filter: drop-shadow(0 0 20px #4b89dc);
}
.btn1{
    position: relative;
    left: 68%;
    top: -15%;
}